@media screen and (max-width: 900px) {
    header {
        background-size: contain;
    }
    .main ul {
        display: block;
        width: 100%
    }
    .main ul li {
        border: none;
        text-align: center
    }
    .main h1 {
        margin-top: 5%;
        font-size: 3rem;
    }
    .main h2 {
        font-size: 2.5rem;
    }
    .main .right .video {
        display: block;
        text-align: center;
        }
    .main .right .video iframe {
        width: 82%;
        height: 50%;
        margin-top: 2%;
    }
    
    }